.App {
  text-align: center;
}

#toolbar {
  height: 50px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-evenly;
}

#user-profile {
  border-radius: 5px;
  background-color: #F1F1F1;
  border: none;
  width: 70%;
  margin: 50px auto auto auto;
  box-shadow: 0px 2px 18px -4px rgba(0,0,0,0.50);
}

#user-profile img {
  width: 220px;
  height: 220px;
  margin: 30px;
}

#user-bio {
  padding: 10px;
}

#user-bio a {
  color: #387BA4;
  text-decoration: none;
  font-size: 13px;
}

#user-bio a:focus {
  color: #387BA4;
}

#user-bio-container {
  display: flex;
}

#user-bio-container div:nth-child(1) {
  text-align: left;
}

#navigator nav {
  display: flex;
}

#navigator nav div {
  display: flex;
  margin: 10px;
  padding: 5px;
  border-bottom: 1px solid transparent;
  transition: 0.3s;
}

#navigator nav div:hover {
  border-bottom: 1px solid lightgray;
  transition: 0.3s;
  cursor: pointer;
}

#navigator nav div ion-icon {
  margin-top: 3px;
}

#navigator nav div p {
  margin: 0px 0px 0px 5px;
}

#navigator-children {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#other-info {
  text-align: left;
  padding: 10px;
}

#other-info p span {
  color: gray;
  font-style: italic;
}

.repo-item {
  max-width: 300px;
  width: 300px;
  padding: 5px;
  margin: 5px;
  text-align: left;
  font-size: 13px;
  border: 1px solid gray;
  transition: 0.3s;
  color: black;
}

.repo-item:hover {
  cursor: pointer;
  box-shadow: 0px 2px 18px -4px rgba(0,0,0,0.20);
  transition: 0.3s;
}

.repo-item ion-icon {
  height: 20px;
  width: 15px;
}

.repo-item span {
  font-style: italic;
}

.activity-item {
  max-width: 300px;
  width: 300px;
  padding: 5px;
  margin: 5px;
  text-align: left;
  border: 1px solid gray;
}

input {
  margin: 5px;
}

input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid gray;
}

input[type="text"]:focus {
  outline: none;
  border: 1px solid black;
}

input[type="submit"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid gray;
  background-color: white;
  color: gray;
  transition: 0.3s;
}

input[type="submit"]:hover {
  cursor: pointer;
  border: 1px solid black;
  color: black;
  transition: 0.3s;
}

input[type="submit"]:focus {
  outline: none;
}

@media screen and (max-width: 640px) {
  #user-bio-container {
    display: block;
  }
}

@media screen and (max-width: 460px) {
  #toolbar {
    height: 100px;
    display: block;
  }

  #user-bio-container img {
    margin: 10px;
  }
}

@media screen and (max-width: 400px) {
  #user-bio-container img {
    width: 100%;
    margin: 0px;
  }
}

@media screen and (max-width: 350px) {
  #user-form {
    display: block;
  }

  #toolbar {
    height: 150px;
  }
}