.App {
  text-align: center;
}

#toolbar {
  height: 50px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-evenly;
}

#user-profile {
  border-radius: 5px;
  background-color: #F1F1F1;
  border: none;
  width: 50%;
  margin: 50px auto auto auto;
  box-shadow: 0px 2px 18px -4px rgba(0,0,0,0.50);
}

#user-profile img {
  width: 220px;
  height: 220px;
  margin: 30px;
}

#user-bio a {
  color: #387BA4;
  text-decoration: none;
  font-size: 13px;
}

#user-bio a:focus {
  color: #387BA4;
}

#navigator {
  margin: 120px 0px 0px 0px;
}

#navigator nav {
  display: flex;
}

#navigator nav div {
  display: flex;
  margin: 10px;
  padding: 5px;
  border-bottom: 1px solid transparent;
  transition: 0.3s;
}

#navigator nav div:hover {
  border-bottom: 1px solid lightgray;
  transition: 0.3s;
  cursor: pointer;
}

#navigator nav div ion-icon {
  margin-top: 3px;
}

#navigator nav div p {
  margin: 0px 0px 0px 5px;
}

#other-info {
  width: 50%;
  text-align: left;
  padding: 10px;
}

#other-info p span {
  color: gray;
  font-style: italic;
}

input {
  margin: 5px;
}

input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid gray;
}

input[type="text"]:focus {
  outline: none;
  border: 1px solid black;
}

input[type="submit"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid gray;
  background-color: white;
  color: gray;
  transition: 0.3s;
}

input[type="submit"]:hover {
  cursor: pointer;
  border: 1px solid black;
  color: black;
  transition: 0.3s;
}

input[type="submit"]:focus {
  outline: none;
}